*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

a {
  text-decoration: none; }

button {
  all: unset;
  cursor: pointer; }

footer, header, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

.container {
  padding-left: 80px;
  padding-right: 80px; }
  @media (max-width: 1024px) {
    .container {
      padding-left: 64px;
      padding-right: 64px; } }

.links {
  color: #4B5563;
  font-weight: 500; }
  .links:hover {
    color: #111827; }
  .links:active {
    color: #1F2937; }

.button {
  color: #F9FAFB;
  border-radius: 20px;
  background: #F6A63D;
  padding: 8px 48px; }
  .button:disabled {
    opacity: 0.4; }
  .button:hover {
    background: #F7B255; }
  .button:active {
    background: #F4900C; }

.shadow__md {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06), 0px 4px 3px 0px rgba(0, 0, 0, 0.07); }

.shadow__lg {
  box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.04), 0px 4px 3px 0px rgba(0, 0, 0, 0.1); }

.shadow__2xl {
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.15); }

h1 {
  font-family: "Inter";
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -2%; }
  @media (max-width: 768px) {
    h1 {
      font-family: "Inter";
      font-size: 36px;
      line-height: 40px; } }

h2 {
  font-family: "Inter";
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -2%; }
  @media (max-width: 768px) {
    h2 {
      font-family: "Inter";
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -2%; } }

h3 {
  font-family: "Inter";
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -2%; }
  @media (max-width: 768px) {
    h3 {
      font-family: "Inter";
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -2%; } }

.subtitle {
  font-family: "Inter";
  font-size: 20px;
  line-height: 28px; }
  @media (max-width: 768px) {
    .subtitle {
      font-family: "Inter";
      font-size: 18px;
      line-height: 28px; } }

.body1 {
  font-family: "Inter";
  font-size: 18px;
  line-height: 28px; }
  @media (max-width: 768px) {
    .body1 {
      font-family: "Inter";
      font-size: 16px;
      line-height: 24px; } }

.body2 {
  font-family: "Inter";
  font-size: 16px;
  line-height: 24px; }

.body3 {
  font-family: "Inter";
  font-size: 14px;
  line-height: 20px; }

.header .header__nav {
  display: flex;
  height: 68px;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px; }
  .header .header__nav .nav__links {
    display: flex;
    gap: 24px;
    align-self: center; }
    .header .header__nav .nav__links .divider {
      width: 1px;
      background: #F3F4F6; }

.main .hero {
  height: 100vh;
  padding-top: 96px;
  padding-bottom: 120px; }
  .main .hero .hero__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto; }
    @media (max-width: 1023px) {
      .main .hero .hero__info {
        flex-direction: row-reverse; } }
    .main .hero .hero__info .info__column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      gap: 48px; }
      @media (max-width: 1023px) {
        .main .hero .hero__info .info__column {
          gap: 32px;
          width: 100%; } }
      .main .hero .hero__info .info__column .column__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px; }
        .main .hero .hero__info .info__column .column__content .content__h1 {
          font-weight: 700; }
        .main .hero .hero__info .info__column .column__content .content__p {
          max-width: 768px;
          color: #4B5563; }
          @media (max-width: 1023px) {
            .main .hero .hero__info .info__column .column__content .content__p {
              display: none; } }
      .main .hero .hero__info .info__column .column__btn {
        text-transform: uppercase;
        font-weight: 600; }
        @media (max-width: 1023px) {
          .main .hero .hero__info .info__column .column__btn {
            align-self: center;
            font-weight: 400; } }
    .main .hero .hero__info .info__img {
      width: 320px;
      height: 360px; }
    .main .hero .hero__info .info__bottom {
      position: absolute;
      bottom: 0;
      left: 0; }
    .main .hero .hero__info .wave1 {
      z-index: 1; }
    .main .hero .hero__info .wave1, .main .hero .hero__info .wave2 {
      width: 100%; }
    .main .hero .hero__info .orange1 {
      transform: rotate(-50.031deg);
      left: 219.82px; }
    .main .hero .hero__info .orange2 {
      left: 280.82px; }

.main .skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  position: relative;
  padding-top: 0px;
  padding-bottom: 96px; }
  .main .skills .skills__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px; }
    .main .skills .skills__text .text__h1 {
      color: #4B5563;
      font-weight: 700; }
    .main .skills .skills__text .text__p {
      color: #4B5563;
      font-weight: 400; }
  .main .skills .skills__icons {
    display: flex;
    justify-content: space-between;
    width: 720px; }
    @media (max-width: 768px) {
      .main .skills .skills__icons {
        width: 640px; } }
    .main .skills .skills__icons .icons__container {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center; }
  .main .skills .skills__orange {
    width: 154px;
    height: 198px;
    position: absolute;
    bottom: 0;
    right: 0; }
    @media (max-width: 1023px) {
      .main .skills .skills__orange {
        width: 109.404px;
        height: 159.789px; } }
    @media (max-width: 768px) {
      .main .skills .skills__orange {
        width: 82.133px;
        height: 159.789px; } }

.main .experience {
  overflow: hidden;
  background: #F9FAFB;
  padding-top: 96px;
  padding-bottom: 96px; }
  .main .experience .experience__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding-left: 32px;
    padding-right: 32px; }
    .main .experience .experience__content .content__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px; }
      .main .experience .experience__content .content__text .text__h1 {
        color: #F4900C;
        font-weight: 700; }
      .main .experience .experience__content .content__text .text__p {
        color: #4B5563;
        font-weight: 400; }
    @media (max-width: 736px) {
      .main .experience .experience__content .event-1 {
        grid-template-rows: 40px 1fr 40px 0fr 40px 0fr; }
      .main .experience .experience__content .event-2 {
        grid-template-rows: 40px 0fr 40px 1fr 40px 0fr; }
      .main .experience .experience__content .event-3 {
        grid-template-rows: 40px 0fr 40px 0fr 40px 1fr; } }
    .main .experience .experience__content .content__cards {
      display: grid;
      grid-template-areas: "date1 exp" "date2 exp" "date3 exp";
      transition: 1000ms ease; }
      @media (min-width: 736px) {
        .main .experience .experience__content .content__cards {
          gap: 32px; } }
      @media (max-width: 736px) {
        .main .experience .experience__content .content__cards {
          grid-template-areas: "date1" "exp1" "date2" "exp2" "date3" "exp3"; } }
      .main .experience .experience__content .content__cards .dates__text {
        background: #FFF;
        border-radius: 12px;
        align-self: start;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 32px;
        padding-right: 32px; }
        @media (max-width: 736px) {
          .main .experience .experience__content .content__cards .dates__text:nth-child(1) {
            grid-area: date1; }
          .main .experience .experience__content .content__cards .dates__text:nth-child(2) {
            grid-area: date2; }
          .main .experience .experience__content .content__cards .dates__text:nth-child(3) {
            grid-area: date3; } }
        .main .experience .experience__content .content__cards .dates__text .text__button {
          color: #6B7280; }
        .main .experience .experience__content .content__cards .dates__text .text__button--active {
          color: #030712; }
      @media (max-width: 736px) {
        .main .experience .experience__content .content__cards .card__1 {
          grid-area: exp1; }
        .main .experience .experience__content .content__cards .card__2 {
          grid-area: exp2; }
        .main .experience .experience__content .content__cards .card__3 {
          grid-area: exp3; } }
      .main .experience .experience__content .content__cards .active {
        transform: translateX(0); }
        @media (max-width: 736px) {
          .main .experience .experience__content .content__cards .active {
            transform: unset; } }
      .main .experience .experience__content .content__cards .inactive-right {
        transform: translateY(150%); }
        @media (max-width: 736px) {
          .main .experience .experience__content .content__cards .inactive-right {
            transform: unset;
            display: none; } }
      .main .experience .experience__content .content__cards .inactive-left {
        transform: translateX(150%); }
        @media (max-width: 736px) {
          .main .experience .experience__content .content__cards .inactive-left {
            transform: unset; } }
      .main .experience .experience__content .content__cards .cards__experience {
        overflow: hidden;
        transition: 1000ms ease;
        background: #FFF;
        border-radius: 12px;
        display: flex;
        flex-direction: row;
        gap: 48px;
        padding-top: 32px;
        padding-bottom: 32px;
        padding-left: 32px;
        padding-right: 32px;
        max-height: 236px; }
        @media (max-width: 736px) {
          .main .experience .experience__content .content__cards .cards__experience {
            padding: 0; }
            .main .experience .experience__content .content__cards .cards__experience .experience__img {
              margin-top: 32px;
              margin-left: 32px; } }
        @media (min-width: 736px) {
          .main .experience .experience__content .content__cards .cards__experience {
            grid-area: exp; } }
        @media (max-width: 736px) {
          .main .experience .experience__content .content__cards .cards__experience {
            flex-direction: column;
            gap: 24px; } }
        .main .experience .experience__content .content__cards .cards__experience .experience__img {
          align-self: flex-start; }
        .main .experience .experience__content .content__cards .cards__experience .experience__info {
          display: flex;
          flex-direction: column;
          gap: 16px; }
          @media (max-width: 736px) {
            .main .experience .experience__content .content__cards .cards__experience .experience__info {
              margin-left: 32px; } }
          .main .experience .experience__content .content__cards .cards__experience .experience__info .info__prof {
            color: #111827;
            font-weight: 600; }
          .main .experience .experience__content .content__cards .cards__experience .experience__info .info__ul {
            display: flex;
            flex-direction: column;
            gap: 16px;
            overflow-y: auto; }
            .main .experience .experience__content .content__cards .cards__experience .experience__info .info__ul::-webkit-scrollbar {
              width: 4px; }
            .main .experience .experience__content .content__cards .cards__experience .experience__info .info__ul::-webkit-scrollbar-thumb {
              background-color: #D1D5DB;
              border: 1px solid #D1D5DB;
              border-radius: 2px; }
            .main .experience .experience__content .content__cards .cards__experience .experience__info .info__ul .ul__item {
              display: flex;
              align-items: center;
              gap: 8px; }
              .main .experience .experience__content .content__cards .cards__experience .experience__info .info__ul .ul__item::before {
                content: "";
                min-width: 6px;
                height: 6px;
                border-radius: 50%;
                background: #F4900C;
                align-self: flex-start;
                margin-top: 10px; }
              .main .experience .experience__content .content__cards .cards__experience .experience__info .info__ul .ul__item .item__span {
                color: #4B5563;
                font-weight: 400; }

/*# sourceMappingURL=main.css.map */
