@import "./colors.scss";
@import "./paddings.scss";

.header {
    .header__nav {
      display: flex;
      height: 68px;
      justify-content: space-between;
      @include vertical-padding(16px, 16px);
      @include horizontal-padding(32px, 32px);
        .nav__links {
          display: flex;
          gap: 24px;
          align-self: center;
          .divider {
            width: 1px;
            background: $gray-100;
          }
        }
    }
}


.main {
  .hero {
    .hero__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include vertical-padding(96px, 0px);
      @media (max-width: 1024px) {
        flex-direction: row-reverse;
      }
      .info__column { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 48px;
        .column__content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 8px;
          .content__h1 {
            font-weight: 700;
          }
          .content__p {
            max-width: 768px;
            color: $gray-600;
            @media (max-width: 1024px) {
              display: none;
            }
          }
        }
        .column__btn {
          text-transform: uppercase;
          font-weight: 600;
          @media (max-width: 1024px) {
            align-self: center;
          }
        }
      }
      .info__img {
        width: 320px;
        height: 360px;
      }
      .info__bottom {
        position: absolute;
        bottom: 0;
        left: 0;
      }
      .wave1 {
        z-index: 1;
      }
      .wave1, .wave2 {
        width: 100%;
      }
      .orange1 {
        transform: rotate(-50.031deg);
        left: 219.82px;
      }
      .orange2 {
        left: 280.82px;
      }
    }
  }
}