@import "./colors.scss";
@import "./paddings.scss";

.main {
  .experience {
    overflow-x: hidden;
    background: $gray-50;
    padding-top: 96px;
    padding-bottom: 96px;
    position: relative;
    @media (max-width: 1023px) {
      padding-top: 64px;
      padding-bottom: 64px;
    }
    @media (max-width: 767px) {
      padding-top: 32px;
      padding-bottom: 32px;
    }
    &::before {
      content: "";
      width: 262px;
      height: 192px;
      position: absolute;
      background-image: url("../../assets/images/oranges1_exp.png");
      background-size: contain;
      background-repeat: no-repeat;
      bottom: 0;
      left: 0;
      @media (max-width: 767px) {
        display: none;
      }
    }
    &::after {
      content: "";
      width: 279px;
      height: 158px;
      position: absolute;
      background-image: url("../../assets/images/oranges2_exp.png");
      background-size: contain;
      background-repeat: no-repeat;
      bottom: 0;
      right: 0;
      @media (max-width: 767px) {
        display: none;
      }
    }
    .experience__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 48px;
      padding-left: 32px;
      padding-right: 32px;
      @media (max-width: 1023px) {
        padding-left: 0;
        padding-right: 0;
      }
      .content__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        .text__h1 {
          color: $orange-500;
          font-weight: 700;
        }
        .text__p {
          color: $gray-600;
          font-weight: 400;
        }
      }

      @media (max-width: 767px) {
        .event-1 {
          grid-template-rows: 56px 1fr 56px 0fr 56px 0fr;
        }
        .event-2 {
          grid-template-rows: 56px 0fr 56px 1fr 56px 0fr;
        }
        .event-3 {
          grid-template-rows: 56px 0fr 56px 0fr 56px 1fr;
        }
      }

      .content__cards {
        display: grid;
        grid-template-areas: 
        "date1 exp"
        "date2 exp"
        "date3 exp"
        ;
        @media (min-width: 768px) {
          column-gap: 32px;
        }
        transition: 1000ms ease;
        @media (max-width: 767px) {
          grid-template-areas: 
          "date1"
          "exp1"
          "date2"
          "exp2"
          "date3"
          "exp3";
        }
          .dates__text {
            background: $gray-default;
            display: flex;
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06), 0px 4px 3px 0px rgba(0, 0, 0, 0.07);
            &:first-child {
              border-top-left-radius: 12px;
              border-top-right-radius: 12px;
            }
            &:nth-child(3) {
              border-bottom-left-radius: 12px;
              border-bottom-right-radius: 12px;
            }
            z-index: 1;
              padding: 16px 32px;
              @media (max-width: 767px) {
                &:nth-child(1) {
                  grid-area: date1;
                }
                &:nth-child(2) {
                  grid-area: date2;
                }
                &:nth-child(3) {
                  grid-area: date3;
                }
              }
              .text__button {
                color: $gray-500;
                align-self: center;
              }
              .text__button--active {
                color: $gray-950;
              }
          }
          @media (max-width: 767px) {
            .card__1 {
              grid-area: exp1;
            }
            .card__2 {
              grid-area: exp2;
            }
            .card__3 {
              grid-area: exp3;
            }
          }

          .active {
            transform: translateX(0);
            @media (max-width: 767px) {
              transform: unset;
            }
          }
          .inactive-right {
            transform: translateX(150%);
            @media (max-width: 767px) {
              transform: unset;
              display: none;
            }
          }
          .inactive-left {
            transform: translateX(150%);
            @media (max-width: 767px) {
              transform: unset;
            }
          }
          
          .cards__experience {
            overflow: hidden;
            transition: 1000ms ease;
            background: $gray-default;
            border-radius: 12px;
            display: flex;
            flex-direction: row;
            gap: 48px;
            padding: 32px;
            z-index: 1;
            @media (max-width: 767px) {
              padding: 0;
              .experience__img {
                margin-top: 32px;
                margin-left: 32px;
              }
            }

            @media (min-width: 768px) {
              grid-area: exp;
            }
            @media (max-width: 767px) {
              flex-direction: column;
              gap: 24px;
            }
            max-height: 236px;
            .experience__img {
              align-self: flex-start;
            }
            .experience__info {
              display: flex;
              flex-direction: column;
              gap: 16px;
              @media (max-width: 767px) {
                margin-left: 32px;
              }
              .info__prof {
                color: $gray-900;
                font-weight: 600;
              }
              .info__ul {
                display: flex;
                flex-direction: column;
                gap: 16px;
                overflow-y: auto;
                &::-webkit-scrollbar {
                  width: 4px;
                }
                &::-webkit-scrollbar-thumb {
                  background-color: $gray-300;
                  border: 1px solid $gray-300;
                  border-radius: 2px;
                }
                .ul__item {
                  display: flex;
                  align-items: center;
                  gap: 8px;
                  &::before {
                    content: "";
                    min-width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background: $orange-500;
                    align-self: flex-start;
                    margin-top: 10px;
                  }
                  .item__span {
                    color: $gray-600;
                    font-weight: 400;
                  }
                }
              }
            }
          }
      }
    }
  }
}