@import "./colors.scss";
@import "./paddings.scss";
@import "./breakpoints.scss";

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  @media (max-width: $mobile--big) {
    padding: 16px !important;
  }
  @media (max-width: $laptop) {
    padding-left: 80px;
    padding-right: 80px;
  }
  .header__nav {
    display: flex;
    height: 68px;
    justify-content: space-between;
    padding: 0 32px;
    @media (max-width: $mobile--big) {
      padding: 0;
      align-items: center;
    }
    .nav__img {
      width: 129px;
      height: 36px;
      align-self: center;
    }
    .nav__links {
      display: flex;
      gap: 24px;
      align-self: center;
      @media (max-width: $mobile--big) {
        display: none;
      }
      .divider {
        width: 1px;
        background: $gray-100;
      }
    }
    .nav__burger {
      display: none;
      @media (max-width: $mobile--big) {
        display: flex;
        background: $orange-400;
        cursor: pointer;
        padding: 6px;
        border-radius: 8px;
      }
    }
  }
}
