@import "./colors.scss";
@import "./paddings.scss";

.main {
  .hero {
    padding-top: 96px;
    padding-bottom: 120px;
    background-image: url("../../assets/images/wave1.svg"),
    url("../../assets/images/orange.svg"),
    url("../../assets/images/wave2.svg");
    background-repeat: no-repeat;
    background-position: bottom, left 20% bottom, bottom;
    position: relative;
    @media (max-width: 767px) {
      padding-top: 32px;
    }
    .hero__info {
      display: grid;
      grid-template-areas: "content img"
      "btn img";
      justify-content: space-between;
      max-width: 1200px;
      margin: 0 auto;
      gap: 48px;
      @media (max-width: 767px) {
        grid-template-areas: "content"
        "img"
        "btn" !important;
        justify-items: center;
        gap: 16px;
      }
      @media (max-width: 1023px) {
        width: 100%;
        justify-content: center;
        grid-template-areas: "img content"
        "img btn";
        gap: 32px;
      }
      .column__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
        grid-area: content;
        .content__h1 {
          font-weight: 700;
        }
        .content__p {
          max-width: 768px;
          color: $gray-600;
          @media (max-width: 1023px) {
            display: none;
          }
        }
      }
      .column__btn {
        text-transform: uppercase;
        font-weight: 600;
        grid-area: btn;
        justify-self: end;
        width: fit-content;
        height: fit-content;
        @media (max-width: 1023px) {
          justify-self: center;
          font-weight: 400;
        }
        @media (max-width: 768px) {
          margin: 0 -20px;
        }
        @media (max-width: 767px) {
          font-weight: 600;
          margin: 0;
        }
      }

    .info__img {
      width: 320px;
      height: 360px;
      grid-area: img;
    }
    }
  }
}