@import "./colors.scss";
@import "./paddings.scss";

.main {
  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    position: relative;
    padding-bottom: 96px;
    padding-top: 96px;
    @media (max-width: 1023px) {
      padding-bottom: 64px;
      padding-top: 64px;
    }
    @media (max-width: 767px) {
      padding-bottom: 32px;
      padding-top: 32px;
    }
    .skills__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      .text__heading {
        color: $gray-600;
        font-weight: 700;
      }
      .text__p {
        color: $gray-600;
        font-weight: 400;
      }
    }
    .skills__icons {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 720px;
      @media (max-width: 768px) {
        max-width: 480px;
      }
      .icons__container {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
        @media (max-width: 767px) {
          &:nth-child(4) {
            display: none;
          }
          &:nth-child(5) {
            display: none;
          }
        }
      }
    }
    .skills__orange {
      width: 154px;
      height: 198px;
      position: absolute;
      bottom: 0;
      right: 0;
      @media (max-width: 1023px) {
        width: 109.404px;
        height: 159.789px;
      }
      @media (max-width: 768px) {
        width: 82.133px;
        height: 159.789px;
      }
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
}