@import "./colors.scss";
@import "./paddings.scss";

.testimonials {
  padding-top: 96px;
  padding-bottom: 96px;
  @media (max-width: 1023px) {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  @media (max-width: 767px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .testimonials__content {
    display: flex;
    flex-direction: column;
    gap: 48px;
    .content__text {
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: center;
      .text__heading {
        font-weight: 700;
        color: $orange-400;
      }
      .text__p {
        font-weight: 400;
        color: $gray-600;
      }
    }
  }
  .content__cards {
    display: grid;
    grid-template-columns: minmax(416px, 480px) minmax(184px, 328px) minmax(184px, 328px);
    grid-template-areas:"card1 card2 card2"
    "card1 card3 card4" ;
    gap: 28px 48px;
    @media (max-width: 1023px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "card1 card1 card1"
      "card2 card3 card4";
      grid-template-rows: auto 204px;
      gap: 32px;
    }
    @media (max-width: 767px) {
      grid-template-areas: "card1"
      "card2"
      "card3"
      "card4";
      grid-template-columns: auto;
    }
    .testimonial__card {
      padding: 32px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      border-radius: 12px;
      align-self: stretch;
      max-height: 364px;
      &:nth-child(1) {
        grid-area: card1;
        margin-right: -16px;
        @media (max-width: 1023px) {
          margin: 0;
          max-height: none;
        }
      }
      &:nth-child(2) {
        grid-area: card2;
      }
      &:nth-child(3) {
        grid-area: card3;
      }
      &:nth-child(4) {
        grid-area: card4;
      }
      .card__heading {
        display: flex;
        gap: 32px;
        .card__logo {
          height: 104px;
        }
        .card__details {
          align-self: center;
          .details__parag {
            .name {
              font-weight: 600;
              color: $gray-900;
            }
            .prof {
              font-weight: 400;
              color: $gray-600;
            }
          }
          .details__h3 {
            font-weight: 600;
            color: $gray-900;
          }
          .details__span {
            font-weight: 400;
            color: $gray-600;
          }
        }
      }
      .hidden {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
      }
      .card__info {
        font-weight: 400;
        color: $gray-600;
      }
    }
  }
}