@import "./colors.scss";
@import "./paddings.scss";

.works {
  padding-top: 96px;
  padding-bottom: 96px;
  @media (max-width: 1023px) {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  @media (max-width: 767px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .works__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    .content__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      .text__h1 {
        font-weight: 700;
        color: $gray-600;
      }
      .text__p {
        font-weight: 400;
        color: $gray-600;
      }
    }
    .card__reversed {
      flex-direction: row-reverse;
    }
    .content__card {
      display: flex;
      align-self: center;
      max-width: 1152px;
      border-radius: 12px;
      @media (max-width: 768px) {
        flex-direction: column;
      }
      .card__image {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $gray-50;
        border-right: 1px solid $gray-100;
        padding: 48px;
        height: 480px;
        @media (max-width: 767px) {
          display: none;
        }
        & img {
          max-width: 100%;
        }
      }
      .card__content {
        padding: 48px;
        .wrapper {
          display: flex;
          flex-direction: column;
          gap: 24px;
        }
        .card__heading {
          font-weight: 600;
          color: $gray-900;
        }
        .card__info {
          font-weight: 400;
          color: $gray-600;
        }
        .card__skills {
          display: flex;
          gap: 8px;
          flex-wrap: wrap;
          .skills__tag {
            padding: 4px 20px;
            background: $gray-200;
            border-radius: 12px;
            .tag__text {
              font-weight: 500;
              color: $gray-600;
            }
          }
        }
        .card__icon {
          align-self: flex-start;
        }
      }
    }
  }
}