@import "../../global-scss/colors.scss";
@import "../../global-scss/paddings.scss";
@import "../../global-scss/breakpoints.scss";


.card__reversed {
  flex-direction: row-reverse;
}
.content__card {
  display: flex;
  align-self: center;
  max-width: 1152px;
  border-radius: 12px;
  @media (max-width: $tablet) {
    flex-direction: column;
  }
  .card__image {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $gray-50;
    border-right: 1px solid $gray-100;
    padding: 48px;
    height: 480px;
    min-width: 420px;
    @media (max-width: $mobile--big) {
      display: none;
    }
    & img {
      max-width: 100%;
    }
  }
  .card__content {
    padding: 48px;
    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
    .card__heading {
      color: $gray-900;
    }
    .card__info {
      color: $gray-600;
    }
    .card__skills {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
      .skills__tag {
        padding: 4px 20px;
        background: $gray-200;
        border-radius: 12px;
        .tag__text {
          color: $gray-600;
        }
      }
    }
    .card__icon {
      align-self: flex-start;
    }
  }
}