*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

a {
  text-decoration: none; }

button {
  all: unset;
  cursor: pointer; }

a {
  cursor: pointer; }

footer, header, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

.container {
  padding-left: 80px;
  padding-right: 80px; }
  @media (max-width: 1023px) {
    .container {
      padding-left: 64px;
      padding-right: 64px; } }
  @media (max-width: 767px) {
    .container {
      padding-left: 16px;
      padding-right: 16px; } }

.links {
  color: #4B5563;
  font-weight: 500; }
  .links:hover {
    color: #111827; }
  .links:active {
    color: #1F2937; }

.button {
  color: #F9FAFB;
  border-radius: 20px;
  background: #F6A63D;
  padding: 8px 48px; }
  .button:disabled {
    opacity: 0.4; }
  .button:hover {
    background: #F7B255; }
  .button:active {
    background: #F4900C; }

.shadow--md {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06), 0px 4px 3px 0px rgba(0, 0, 0, 0.07); }

.shadow--lg {
  box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.04), 0px 4px 3px 0px rgba(0, 0, 0, 0.1); }

.shadow--2xl {
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.15); }

.icon__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #F6A63D;
  padding: 6px; }
  .icon__button:hover {
    background: #F7B255; }
  .icon__button:active {
    background: #F4900C; }

h1 {
  font-family: "Inter";
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -2%; }
  @media (max-width: 768px) {
    h1 {
      font-family: "Inter";
      font-size: 36px;
      line-height: 40px; } }

h2 {
  font-family: "Inter";
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -2%; }
  @media (max-width: 768px) {
    h2 {
      font-family: "Inter";
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -2%; } }

h3 {
  font-family: "Inter";
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -2%; }
  @media (max-width: 768px) {
    h3 {
      font-family: "Inter";
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -2%; } }

.subtitle {
  font-family: "Inter";
  font-size: 20px;
  line-height: 28px; }
  @media (max-width: 768px) {
    .subtitle {
      font-family: "Inter";
      font-size: 18px;
      line-height: 28px; } }

.body1 {
  font-family: "Inter";
  font-size: 18px;
  line-height: 28px; }
  @media (max-width: 768px) {
    .body1 {
      font-family: "Inter";
      font-size: 16px;
      line-height: 24px; } }

.body2 {
  font-family: "Inter";
  font-size: 16px;
  line-height: 24px; }

.body3 {
  font-family: "Inter";
  font-size: 14px;
  line-height: 20px; }

.text__p {
  text-align: center; }

@media (max-width: 767px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px; } }
.header .header__nav {
  display: flex;
  height: 68px;
  justify-content: space-between;
  padding: 16px 32px; }
  @media (max-width: 767px) {
    .header .header__nav {
      padding: 0;
      align-items: center; } }
  .header .header__nav .nav__img {
    width: 129.003px;
    height: 36px; }
    @media (max-width: 767px) {
      .header .header__nav .nav__img {
        align-self: stretch; } }
  .header .header__nav .nav__links {
    display: flex;
    gap: 24px;
    align-self: center; }
    @media (max-width: 767px) {
      .header .header__nav .nav__links {
        display: none; } }
    .header .header__nav .nav__links .divider {
      width: 1px;
      background: #F3F4F6; }
  .header .header__nav .nav__burger {
    display: none; }
    @media (max-width: 767px) {
      .header .header__nav .nav__burger {
        display: flex;
        background: #F6A63D;
        cursor: pointer;
        padding: 6px;
        border-radius: 8px; } }

.main .hero {
  padding-top: 96px;
  padding-bottom: 120px;
  background-image: url("../../assets/images/wave1.svg"), url("../../assets/images/orange.svg"), url("../../assets/images/wave2.svg");
  background-repeat: no-repeat;
  background-position: bottom, left 20% bottom, bottom;
  position: relative; }
  @media (max-width: 767px) {
    .main .hero {
      padding-top: 32px; } }
  .main .hero .hero__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto; }
    @media (max-width: 1023px) {
      .main .hero .hero__info {
        flex-direction: row-reverse; } }
    .main .hero .hero__info .info__column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      gap: 48px; }
      .main .hero .hero__info .info__column .info__img--mob {
        display: none; }
        @media (max-width: 767px) {
          .main .hero .hero__info .info__column .info__img--mob {
            display: block;
            width: 320px;
            height: 360px;
            grid-area: img; } }
      @media (max-width: 767px) {
        .main .hero .hero__info .info__column {
          display: grid;
          grid-template-areas: "h1" "img" "btn";
          justify-items: center;
          gap: 16px !important; } }
      @media (max-width: 1023px) {
        .main .hero .hero__info .info__column {
          gap: 32px;
          width: 100%; } }
      .main .hero .hero__info .info__column .column__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px; }
        .main .hero .hero__info .info__column .column__content .content__h1 {
          font-weight: 700; }
          @media (max-width: 767px) {
            .main .hero .hero__info .info__column .column__content .content__h1 {
              grid-area: h1; } }
        .main .hero .hero__info .info__column .column__content .content__p {
          max-width: 768px;
          color: #4B5563; }
          @media (max-width: 1023px) {
            .main .hero .hero__info .info__column .column__content .content__p {
              display: none; } }
      .main .hero .hero__info .info__column .column__btn {
        text-transform: uppercase;
        font-weight: 600; }
        @media (max-width: 1023px) {
          .main .hero .hero__info .info__column .column__btn {
            align-self: center;
            font-weight: 400; } }
        @media (max-width: 767px) {
          .main .hero .hero__info .info__column .column__btn {
            grid-area: btn; } }
    .main .hero .hero__info .info__img {
      width: 320px;
      height: 360px; }
      @media (max-width: 767px) {
        .main .hero .hero__info .info__img {
          display: none; } }
    .main .hero .hero__info .info__bottom {
      position: absolute;
      bottom: 0;
      left: 0; }
    .main .hero .hero__info .wave1 {
      z-index: 1; }
    .main .hero .hero__info .wave1, .main .hero .hero__info .wave2 {
      width: 100%; }
    .main .hero .hero__info .orange1 {
      transform: rotate(-50.031deg);
      left: 20%; }
    .main .hero .hero__info .orange2 {
      left: 25%; }

.main .skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  position: relative;
  padding-bottom: 96px;
  padding-top: 96px; }
  @media (max-width: 1023px) {
    .main .skills {
      padding-bottom: 64px;
      padding-top: 64px; } }
  @media (max-width: 767px) {
    .main .skills {
      padding-bottom: 32px;
      padding-top: 32px; } }
  .main .skills .skills__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px; }
    .main .skills .skills__text .text__h1 {
      color: #4B5563;
      font-weight: 700; }
    .main .skills .skills__text .text__p {
      color: #4B5563;
      font-weight: 400; }
  .main .skills .skills__icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 720px; }
    @media (max-width: 768px) {
      .main .skills .skills__icons {
        max-width: 480px; } }
    .main .skills .skills__icons .icons__container {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center; }
      @media (max-width: 767px) {
        .main .skills .skills__icons .icons__container:nth-child(4) {
          display: none; }
        .main .skills .skills__icons .icons__container:nth-child(5) {
          display: none; } }
  .main .skills .skills__orange {
    width: 154px;
    height: 198px;
    position: absolute;
    bottom: 0;
    right: 0; }
    @media (max-width: 1023px) {
      .main .skills .skills__orange {
        width: 109.404px;
        height: 159.789px; } }
    @media (max-width: 768px) {
      .main .skills .skills__orange {
        width: 82.133px;
        height: 159.789px; } }
    @media (max-width: 767px) {
      .main .skills .skills__orange {
        display: none; } }

.main .experience {
  overflow-x: hidden;
  background: #F9FAFB;
  padding-top: 96px;
  padding-bottom: 96px;
  position: relative; }
  @media (max-width: 1023px) {
    .main .experience {
      padding-top: 64px;
      padding-bottom: 64px; } }
  @media (max-width: 767px) {
    .main .experience {
      padding-top: 32px;
      padding-bottom: 32px; } }
  .main .experience::before {
    content: "";
    width: 262px;
    height: 192px;
    position: absolute;
    background-image: url("../../assets/images/oranges1_exp.png");
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 0;
    left: 0; }
    @media (max-width: 767px) {
      .main .experience::before {
        display: none; } }
  .main .experience::after {
    content: "";
    width: 279px;
    height: 158px;
    position: absolute;
    background-image: url("../../assets/images/oranges2_exp.png");
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 0;
    right: 0; }
    @media (max-width: 767px) {
      .main .experience::after {
        display: none; } }
  .main .experience .experience__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding-left: 32px;
    padding-right: 32px; }
    @media (max-width: 1023px) {
      .main .experience .experience__content {
        padding-left: 0;
        padding-right: 0; } }
    .main .experience .experience__content .content__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px; }
      .main .experience .experience__content .content__text .text__h1 {
        color: #F4900C;
        font-weight: 700; }
      .main .experience .experience__content .content__text .text__p {
        color: #4B5563;
        font-weight: 400; }
    @media (max-width: 767px) {
      .main .experience .experience__content .event-1 {
        grid-template-rows: 56px 1fr 56px 0fr 56px 0fr; }
      .main .experience .experience__content .event-2 {
        grid-template-rows: 56px 0fr 56px 1fr 56px 0fr; }
      .main .experience .experience__content .event-3 {
        grid-template-rows: 56px 0fr 56px 0fr 56px 1fr; } }
    .main .experience .experience__content .content__cards {
      display: grid;
      grid-template-areas: "date1 exp" "date2 exp" "date3 exp";
      column-gap: 32px;
      transition: 1000ms ease; }
      @media (max-width: 767px) {
        .main .experience .experience__content .content__cards {
          grid-template-areas: "date1" "exp1" "date2" "exp2" "date3" "exp3";
          max-width: 520px; } }
      .main .experience .experience__content .content__cards .dates__text {
        background: #FFF;
        display: flex;
        z-index: 1;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06), 0px 4px 3px 0px rgba(0, 0, 0, 0.07);
        z-index: 1;
        padding: 16px 32px; }
        .main .experience .experience__content .content__cards .dates__text:first-child {
          border-top-left-radius: 12px;
          border-top-right-radius: 12px; }
        .main .experience .experience__content .content__cards .dates__text:nth-child(3) {
          border-bottom-left-radius: 12px;
          border-bottom-right-radius: 12px; }
        @media (max-width: 767px) {
          .main .experience .experience__content .content__cards .dates__text:nth-child(1) {
            grid-area: date1;
            border-radius: 12px 12px 0 0; }
          .main .experience .experience__content .content__cards .dates__text:nth-child(2) {
            grid-area: date2; }
          .main .experience .experience__content .content__cards .dates__text:nth-child(3) {
            grid-area: date3;
            border-radius: 0 0 12px 12px; }
          .main .experience .experience__content .content__cards .dates__text:not(:last-child) {
            border-bottom: 1px solid #E5E7EB; } }
        .main .experience .experience__content .content__cards .dates__text .text__button {
          color: #6B7280;
          align-self: center; }
        .main .experience .experience__content .content__cards .dates__text .text__button--active {
          color: #030712; }
      @media (max-width: 767px) {
        .main .experience .experience__content .content__cards .card__1 {
          grid-area: exp1; }
        .main .experience .experience__content .content__cards .card__2 {
          grid-area: exp2; }
        .main .experience .experience__content .content__cards .card__3 {
          grid-area: exp3; } }
      .main .experience .experience__content .content__cards .active {
        transform: translateX(0); }
        @media (max-width: 767px) {
          .main .experience .experience__content .content__cards .active {
            transform: unset;
            padding: 32px !important; } }
      .main .experience .experience__content .content__cards .inactive-right {
        transform: translateX(150%);
        opacity: 0; }
        @media (max-width: 767px) {
          .main .experience .experience__content .content__cards .inactive-right {
            transform: unset;
            display: none; } }
      .main .experience .experience__content .content__cards .inactive-left {
        transform: translateX(150%);
        opacity: 0; }
        @media (max-width: 767px) {
          .main .experience .experience__content .content__cards .inactive-left {
            transform: unset; } }
      .main .experience .experience__content .content__cards .cards__experience {
        overflow: hidden;
        transition: 1000ms ease;
        background: #FFF;
        border-radius: 12px;
        display: flex;
        flex-direction: row;
        gap: 48px;
        padding: 32px;
        z-index: 2;
        grid-area: exp;
        max-height: 236px; }
        @media (max-width: 767px) {
          .main .experience .experience__content .content__cards .cards__experience {
            padding: 0;
            grid-area: unset;
            border-radius: 0 0 12px 12px;
            max-height: 330px; } }
        @media (max-width: 767px) {
          .main .experience .experience__content .content__cards .cards__experience {
            flex-direction: column;
            gap: 24px; } }
        .main .experience .experience__content .content__cards .cards__experience .experience__img {
          align-self: flex-start; }
        .main .experience .experience__content .content__cards .cards__experience .experience__info {
          display: flex;
          flex-direction: column;
          gap: 16px; }
          .main .experience .experience__content .content__cards .cards__experience .experience__info .info__prof {
            color: #111827;
            font-weight: 600; }
          .main .experience .experience__content .content__cards .cards__experience .experience__info .info__ul {
            display: flex;
            flex-direction: column;
            gap: 16px;
            max-height: 128px;
            overflow-y: scroll; }
            .main .experience .experience__content .content__cards .cards__experience .experience__info .info__ul::-webkit-scrollbar {
              width: 4px; }
            .main .experience .experience__content .content__cards .cards__experience .experience__info .info__ul::-webkit-scrollbar-thumb {
              background-color: #D1D5DB;
              border: 1px solid #D1D5DB;
              border-radius: 2px; }
            .main .experience .experience__content .content__cards .cards__experience .experience__info .info__ul .ul__item {
              display: flex;
              align-items: center;
              gap: 8px; }
              .main .experience .experience__content .content__cards .cards__experience .experience__info .info__ul .ul__item::before {
                content: "";
                min-width: 6px;
                height: 6px;
                border-radius: 50%;
                background: #F4900C;
                align-self: flex-start;
                margin-top: 10px; }
              .main .experience .experience__content .content__cards .cards__experience .experience__info .info__ul .ul__item .item__span {
                color: #4B5563;
                font-weight: 400; }

.works {
  padding-top: 96px;
  padding-bottom: 96px; }
  @media (max-width: 1023px) {
    .works {
      padding-top: 64px;
      padding-bottom: 64px; } }
  @media (max-width: 767px) {
    .works {
      padding-top: 32px;
      padding-bottom: 32px; } }
  .works .works__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px; }
    .works .works__content .content__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px; }
      .works .works__content .content__text .text__h1 {
        font-weight: 700;
        color: #4B5563; }
      .works .works__content .content__text .text__p {
        font-weight: 400;
        color: #4B5563; }
    .works .works__content .card__reversed {
      flex-direction: row-reverse; }
    .works .works__content .content__card {
      display: flex;
      align-self: center;
      max-width: 1152px;
      border-radius: 12px; }
      @media (max-width: 768px) {
        .works .works__content .content__card {
          flex-direction: column; } }
      .works .works__content .content__card .card__image {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F9FAFB;
        border-right: 1px solid #F3F4F6;
        padding: 48px;
        height: 480px; }
        @media (max-width: 767px) {
          .works .works__content .content__card .card__image {
            display: none; } }
        .works .works__content .content__card .card__image img {
          max-width: 100%; }
      .works .works__content .content__card .card__content {
        padding: 48px; }
        .works .works__content .content__card .card__content .wrapper {
          display: flex;
          flex-direction: column;
          gap: 24px; }
        .works .works__content .content__card .card__content .card__heading {
          font-weight: 600;
          color: #111827; }
        .works .works__content .content__card .card__content .card__info {
          font-weight: 400;
          color: #4B5563; }
        .works .works__content .content__card .card__content .card__skills {
          display: flex;
          gap: 8px;
          flex-wrap: wrap; }
          .works .works__content .content__card .card__content .card__skills .skills__tag {
            padding: 4px 20px;
            background: #E5E7EB;
            border-radius: 12px; }
            .works .works__content .content__card .card__content .card__skills .skills__tag .tag__text {
              font-weight: 500;
              color: #4B5563; }
        .works .works__content .content__card .card__content .card__icon {
          align-self: flex-start; }

.testimonials {
  padding-top: 96px;
  padding-bottom: 96px; }
  @media (max-width: 1023px) {
    .testimonials {
      padding-top: 64px;
      padding-bottom: 64px; } }
  @media (max-width: 767px) {
    .testimonials {
      padding-top: 32px;
      padding-bottom: 32px; } }
  .testimonials .testimonials__content {
    display: flex;
    flex-direction: column;
    gap: 48px; }
    .testimonials .testimonials__content .content__text {
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: center; }
      .testimonials .testimonials__content .content__text .text__h1 {
        font-weight: 700;
        color: #F6A63D; }
      .testimonials .testimonials__content .content__text .text__p {
        font-weight: 400;
        color: #4B5563; }
  .testimonials .content__cards {
    display: flex;
    align-items: flex-start;
    gap: 32px; }
    @media (max-width: 1023px) {
      .testimonials .content__cards {
        flex-direction: column; } }
    .testimonials .content__cards .cards__trio {
      display: flex;
      flex-direction: column;
      gap: 28px; }
      @media (max-width: 1023px) {
        .testimonials .content__cards .cards__trio {
          flex-direction: row;
          gap: 32px; } }
      @media (max-width: 767px) {
        .testimonials .content__cards .cards__trio {
          flex-direction: column; } }
    .testimonials .content__cards .cards__duo {
      display: flex;
      gap: 48px; }
      @media (max-width: 1023px) {
        .testimonials .content__cards .cards__duo {
          gap: 32px; } }
      @media (max-width: 767px) {
        .testimonials .content__cards .cards__duo {
          flex-direction: column; } }
    .testimonials .content__cards .testimonial__card {
      padding: 32px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      border-radius: 12px;
      align-self: stretch; }
      .testimonials .content__cards .testimonial__card .card__heading {
        display: flex;
        gap: 32px; }
        .testimonials .content__cards .testimonial__card .card__heading .card__logo {
          height: 104px; }
        .testimonials .content__cards .testimonial__card .card__heading .card__details {
          align-self: center; }
          .testimonials .content__cards .testimonial__card .card__heading .card__details .details__parag .name {
            font-weight: 600;
            color: #111827; }
          .testimonials .content__cards .testimonial__card .card__heading .card__details .details__parag .prof {
            font-weight: 400;
            color: #4B5563; }
          .testimonials .content__cards .testimonial__card .card__heading .card__details .details__h3 {
            font-weight: 600;
            color: #111827; }
          .testimonials .content__cards .testimonial__card .card__heading .card__details .details__span {
            font-weight: 400;
            color: #4B5563; }
      .testimonials .content__cards .testimonial__card .hidden {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; }
      .testimonials .content__cards .testimonial__card .card__info {
        font-weight: 400;
        color: #4B5563; }

.getInTouch {
  padding-top: 96px;
  padding-bottom: 96px; }
  @media (max-width: 1023px) {
    .getInTouch {
      padding-top: 64px;
      padding-bottom: 64px; } }
  @media (max-width: 767px) {
    .getInTouch {
      padding-top: 32px;
      padding-bottom: 32px; } }
  .getInTouch .getInTouch__content {
    display: flex;
    flex-direction: column;
    gap: 48px; }
    .getInTouch .getInTouch__content .content__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px; }
      .getInTouch .getInTouch__content .content__text .text__h1 {
        font-weight: 700;
        color: #4B5563; }
      .getInTouch .getInTouch__content .content__text .text__p {
        font-weight: 400;
        color: #4B5563;
        max-width: 576px;
        text-align: center; }
    .getInTouch .getInTouch__content .content__contacts {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px; }
      .getInTouch .getInTouch__content .content__contacts .contacts__mail {
        display: flex;
        gap: 8px; }
        .getInTouch .getInTouch__content .content__contacts .contacts__mail .main__icon {
          align-self: center; }
        .getInTouch .getInTouch__content .content__contacts .contacts__mail .mail__text {
          font-weight: 600;
          color: #4B5563; }
      .getInTouch .getInTouch__content .content__contacts .contacts__phone {
        display: flex;
        gap: 8px; }
        .getInTouch .getInTouch__content .content__contacts .contacts__phone .phone__icon {
          align-self: center; }
        .getInTouch .getInTouch__content .content__contacts .contacts__phone .phone__text {
          font-weight: 600;
          color: #4B5563; }

/*# sourceMappingURL=main.css.map */
