@import "./colors.scss";
@import "./paddings.scss";
@import "./breakpoints.scss";

.main {
  .hero {
    padding-top: 96px;
    padding-bottom: 120px;
    @media (max-width: $laptop) {
      padding-top: 64px;
    }
    background-image: url("../../assets/images/wave1.svg"),
    url("../../assets/images/orange.svg"),
    url("../../assets/images/wave2.svg");
    background-repeat: no-repeat;
    background-position: bottom, left 20% bottom, bottom;
    position: relative;
    @media (max-width: $mobile--big) {
      padding-top: 32px;
    }
    .hero__info {
      display: grid;
      grid-template-areas: "content img"
      "btn img";
      justify-content: space-between;
      max-width: 1200px;
      margin: 0 auto;
      gap: 48px;
      @media (max-width: $mobile--big) {
        grid-template-areas: "content"
        "img"
        "btn" !important;
        justify-items: center;
        gap: 16px;
      }
      @media (max-width: $laptop) {
        width: 100%;
        justify-content: center;
        grid-template-areas: "img content"
        "img btn";
        gap: 32px;
      }
      .column__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
        grid-area: content;
        .content__p {
          max-width: 768px;
          color: $gray-600;
          @media (max-width: $laptop) {
            display: none;
          }
        }
      }
      .column__btn {
        text-transform: uppercase;
        grid-area: btn;
        justify-self: end;
        width: fit-content;
        height: fit-content;
        @media (max-width: $laptop) {
          justify-self: center;
          font-weight: 400;
        }
        @media (max-width: $tablet) {
          margin: 0 -20px;
        }
        @media (max-width: $mobile--big) {
          font-weight: 600;
          margin: 0;
        }
      }

      .wrap {
        position: relative;
        grid-area: img;
        margin-bottom: 40px;
        @media (max-width: $laptop) {
          margin-right: 40px;
        }
        &::after {
          content: "";
          display: block;
          width: 280px;
          height: 320px;
          border: 8px solid $gray-default;
          background: $gray-200;
          position: absolute;
          top: 40px;
          left: 40px;
          z-index: -1;
        }
        .info__img {
          width: 280px;
          height: 320px;
        }
      }
    }
  }
}